li {
  list-style: none;
  justify-items: space-evenly;
}

input {
  padding: 5px;
  margin: 5px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  margin-left: 10px;
}

span {
  justify-content: left;
}
